@if (TempData["UserConsentSetInPreviousRequest"] as bool? == true)
{
    <div class="govuk-cookie-banner" data-nosnippet="" role="region" aria-label="Cookies on GOV.UK Design System" data-module="govuk-cookie-banner" data-test="cookies-confirmation">
        <div class="govuk-cookie-banner__message govuk-width-container js-cookie-banner-confirmation-accept app-width-container" role="alert">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body govuk-!-margin-top-4">Your cookie preferences have been saved. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
                    </div>
                </div>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button js-cookie-banner-hide js-cookie-banner-hide--accept" data-module="govuk-button" data-test="cookies-confirmation_hide">
                    Hide this message
                </button>
            </div>
        </div>
    </div>
}
