body {
    font-family: GDS Transport,arial,sans-serif;    
}

#filters .govuk-fieldset__legend {
    font-size: 1.5em;
}

.govuk-fieldset__legend {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

@media (max-width: 40.0625em) {
    .govuk-fieldset__legend {
        font-size: 24px;
        line-height: 25px;
    }
}

.govuk-main-wrapper {
    padding-top: 20px;
}

.govuk-file-upload {
    max-width: calc(100vw - 50px);
}

@media (min-width: 768px) {
    .govuk-file-upload {
        max-width: 100%;
    }
}

.govuk-file-upload::-webkit-file-upload-button {
    -webkit-appearance: button;
    color: inherit;
    font:inherit
}

.govuk-file-upload:focus {
    outline: 3px solid #fd0;
    -webkit-box-shadow: inset 0 0 0 4px #0b0c0c;
    box-shadow:inset 0 0 0 4px #0b0c0c
}

.govuk-file-upload:focus-within {
    outline: 3px solid #fd0;
    -webkit-box-shadow: inset 0 0 0 4px #0b0c0c;
    box-shadow:inset 0 0 0 4px #0b0c0c
}

.govuk-caption-l {
    color: #0b0c0c;
}

.visually-hidden {
    display: none;
}

/* Helper classes
-------------------------------------------------- */
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-right {
    text-align: right;
}
.text-muted {
    color: #505a5f;
}
.table-fixed {
    table-layout: fixed;
}
.govuk-\!-margin-right-auto {
    margin-right: auto !important;
}

#navigation {
    padding: 0px !important;
    margin: 0 !important;
}

.sign-out {
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
}

.sign-out:hover {
    cursor: pointer;
}

/* Table sorting
-------------------------------------------------- */
th a,
td a {
    display: block;
    width: 100%;
}

th a.sort-by {
    position: relative;
    color: inherit;
    text-decoration: none;
}

a.sort-by:before,
a.sort-by:after {
    border: 6px solid transparent;
    content: "";
    display: none;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort-by:before {
    border-bottom-color: #666;
    margin-top: -15px;
}

a.sort-by:after {
    border-top-color: #666;
    margin-top: 0px;
}

a.sort-by--inactive:before,
a.sort-by--inactive:after {
    display: block;
}

a.sort-by--ascending:before {
    display: block;
}

a.sort-by--descending:after {
    display: block;
}

/* Notifications
-------------------------------------------------- */
.govuk-banner {
    border: 5px solid #1d70b8;
    color: #1d70b8;
    font-size: 0;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.govuk-banner--success {
    border-color: #00703c;
    color: #00703c;
}

.govuk-banner > .govuk-banner__icon {
    fill: currentColor;
    float: left;
    margin-right: 10px;
}

.govuk-banner > .govuk-banner__body {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

@media print {
    .govuk-banner {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {
    .govuk-banner {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
        margin-bottom: 50px;
    }
}

@media print {
    .govuk-banner > .govuk-banner__body {
        color: #000;
    }
}

.govuk-banner > .govuk-banner__body > :last-child {
    margin-bottom: 0;
}

.govuk-banner__link {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
}

@media print {
    .govuk-banner__link {
        font-family: sans-serif;
    }
}

.govuk-banner__link:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.govuk-banner__link:link,
.govuk-banner__link:visited {
    color: #1d70b8;
}

.govuk-banner__link:hover {
    color: #003078;
}

.govuk-banner__link:active,
.govuk-banner__link:focus {
    color: #0b0c0c;
}

.govuk-banner--success .govuk-banner__link:link,
.govuk-banner--success .govuk-banner__link:visited {
    color: #00703c;
}

.govuk-banner--success .govuk-banner__link:hover {
    color: #004e2a;
}

.govuk-banner--success .govuk-banner__link:active {
    color: #00703c;
}

.govuk-banner--success .govuk-banner__link:focus {
    color: #0b0c0c;
}

.pagination li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.pagination ul {
    padding-left: 0;
}

.pagination__link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}

.govuk-accordion > .govuk-summary-list__row:last-of-type > dt {
    border: none;
}

.govuk-accordion > .govuk-summary-list__row:last-of-type > dd {
    border: none;
}

.app-subnav {
    margin-bottom: 100px;
    padding: 30px 15px 0 0;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286
}

@media print {
    .app-subnav {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-subnav {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .app-subnav {
        font-size: 14pt;
        line-height: 1.2
    }
}

.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none
}

.app-subnav__link {
    padding: 2px 0
}

.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff
}

.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold
}

/* Nav
-------------------------------------------------- */

.govuk-header__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.govuk-header__navigation {
    display: block !important;
}

@media (max-width: 40.0625em)
{
    .govuk-header__navigation-list {
        display: none;
    }
}

.js-enabled .govuk-header__navigation--open {
    display: block;
}

.govuk-header__navigation-list--open {
    display: block;
}

