@model DfT.ZEV.Administration.Web.Models.TestViewModel

@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
            <a class="govuk-link" asp-action="Index" asp-controller="Organizations">Organizations</a>
            </h2>
        <p class="govuk-body-s">
            Test auth =)
            @{
                if (Model.IsAuthorized)
                {
                    <p>Authenticated: @Model.Name.</p>
                }
                else
                {
                    <p>Not authenticated</p>
                }
            }
        </p>
    </div>
</div>