@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model DfT.ZEV.Common.MVC.Authentication.ViewModels.ForgottenPasswordChangeViewModel
@{
    var passwordHint = Configuration.GetValue<string>("PasswordPolicyDescription");
    ViewData["Title"] = "Set your password";
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-l">Set your password</h1>
<p class="govuk-body">Please enter your new password below</p>

@using (Html.BeginForm())
{
    <govuk-input asp-for="@Model.Password" type="password" data-test="set-password">
        <govuk-input-label>Create new password</govuk-input-label>
        <govuk-input-hint>@passwordHint</govuk-input-hint>
    </govuk-input>

    <govuk-input asp-for="@Model.PasswordConfirmation" type="password" data-test="set-password-confirmation">
        <govuk-input-label>Confirm new password</govuk-input-label>
    </govuk-input>

    <govuk-button type="submit">Set password</govuk-button>
}