
@model DfT.ZEV.Common.MVC.Authentication.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = "Details";
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-l">Password changed</h1>
<p class="govuk-body">Password changed</p>
