@model DfT.ZEV.Common.MVC.Authentication.Models.AccountDetails
@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s">
            Email: @Model.Email
        </p>
    </div>
</div>