@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model DfT.ZEV.Common.MVC.Authentication.Models.AccountDetails
@{
    ViewData["Title"] = "MFA not enabled";
}

<h1 class="govuk-heading-l">Please configure mfa on your account</h1>

