@model dynamic

@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
            <a class="govuk-link" asp-action="Index" asp-controller="Home">Placeholder</a>
        </h2>
        <p class="govuk-body-s">
            elo signout.
        </p>
    </div>
</div>
