@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
            <a class="govuk-link" asp-action="Index" asp-controller="Organisations">Manage Manufacturer accounts</a>
        </h2>
        <p>
            Create and manage user accounts for Manufacturers.
        </p>
         <h2 class="govuk-heading-s">
                    <a class="govuk-link" asp-action="Index" asp-controller="Data">Upload data</a>
                </h2>
    </div>
</div>
