@using DfT.ZEV.Core.Domain.Manufacturers.Models
@model DfT.ZEV.Administration.Web.Models.OrganisationsViewModel

@{
    ViewData["Title"] = "Organisations";
    ViewData["ActivePage"] = "Organisations";
}

<h2 class="govuk-heading-l">
    Manage Manufacturer accounts
</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @using (Html.BeginForm())
        {
            <govuk-input asp-for="@Model.SearchTerm" inputmode="text" autocomplete="true" data-test="signin-email">
                <govuk-input-label>Search</govuk-input-label>
            </govuk-input>
            
            <govuk-button type="submit" data-test="search">Search</govuk-button>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Manufacturers</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Manufacturer name</th>
                <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@manufacturer.Name</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-action="Manage" asp-route-id=@manufacturer.Id asp-controller="Organisations">Manage</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>