@using DfT.ZEV.Core.Application.Manufacturers.Queries.GetManufacturerById
@using DfT.ZEV.Core.Domain.Manufacturers.Models
@model DfT.ZEV.Administration.Web.Models.ManageOrganisationViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            @Model.Dto.Name
        </h2>

        <p>
            Manufacturer ID: @Model.Id
        </p>
    </div>
</div>


@if (Model.Dto.Users.Any())
{
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Accounts</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Account id</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                    @foreach (var account in Model.Dto.Users)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@account.Id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>
        No accounts have been registered yet for this manufacturer.
    </p>
}


<a class="govuk-button govuk-button--primary" asp-action="ManageAddUser" asp-route-id=@Model.Id
    asp-controller="Organisations">Add user</a>