@{
    ViewData["Title"] = "Upload file";
    ViewData["ActivePage"] = "Upload file";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
            <a class="govuk-link" asp-action="Index" asp-controller="Home">Placeholder</a>
        </h2>
       
        <form id="uploadForm" enctype="multipart/form-data" method="post">
            <govuk-file-upload name="FileUpload1">
                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
            </govuk-file-upload> 
            <progress id="progressBar" value="0" max="100"></progress>
            <p id="message"></p>
            <govuk-button id="uploadButton"  data-test="upload">Upload</govuk-button>
        </form>
    </div>
</div>

<style nonce="owned-assets">
    #progressBar {
        display: none; /* Hide the progress bar */
        color: green; /* Make the progress bar green */
    }
</style>

@section Scripts
{
    <script nonce="owned-assets">
        document.getElementById('uploadButton').addEventListener('click', function (e) {
            e.preventDefault();
            console.log("uploadButton clicked");

            var formData = new FormData(document.getElementById('uploadForm'));
            var progressBar = document.getElementById('progressBar');
            progressBar.style.display = 'block';
            
            var message = document.getElementById('message');
            var xhr = new XMLHttpRequest();

            // Track upload progress
            xhr.upload.addEventListener('progress', function (event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    console.log(percentComplete);
                    progressBar.value = percentComplete;
                }
            });

            // Handle successful upload
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Upload successful');
                    message.innerHTML = 'Upload successful';
                } else {
                    console.error(`Upload failed with status ${xhr.status}`);
                    message.innerHTML = `Upload failed with status ${xhr.status}`;
                }
            };

            // Handle errors
            xhr.onerror = function () {
                console.error('Error during upload');
            };

            // Open and send the request
            xhr.open('POST', '/Data/UploadFile', true);
            xhr.send(formData);

        });
    </script>
}
