@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
            <a class="govuk-link" asp-action="Index" asp-controller="Vehicles">Manage Vehicles</a>
        </h2>
        <p class="govuk-body-s">
            Manage your vehicles linked to your manufacturer.
        </p>
    </div>
</div>
