@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
  var path = Context.Request.Path.ToString();
  var backLinkVisible = path != "/" && !path.Contains("sign-in") && !path.Contains("sign-out");
}

<!DOCTYPE html>
<html lang="en" class="govuk-template flexbox no-flexboxtweener">

<head>
  <meta charset="utf-8">
  <title>@ViewData["Title"] - @Configuration.GetSection("ServiceName").Value</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/images/gov-uk/favicon.ico" type="image/x-icon"
    asp-append-version="true">

  <!--[if !IE 8]><!-->
  <link rel="stylesheet" href="~/css/gds/govuk-frontend-3.9.1.min.css" nonce="owned-assets" asp-append-version="true">
  <!--<![endif]-->
  <!--[if IE 8]>
        <link rel = "stylesheet" href="~/css/gds/govuk-frontend-ie8-3.9.1.min.css" nonce="owned-assets" asp-append-version="true">
    <![endif]-->
  <link rel="stylesheet" href="~/css/gds/overloads.css" nonce="owned-assets" asp-append-version="true">
</head>

<body class="govuk-template__body js-enabled">
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <partial name="_CookieConsentChangePartial.cshtml" />
  <partial name="_CookieConsentPartial.cshtml" />

  <partial name="_ServiceBanner.cshtml" />

  <partial name="_PhaseBanner.cshtml" />

  @{
    if (backLinkVisible)
    {
      <partial name="_JsBackLink.cshtml" />
    }
  }

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-width-container govuk-grid-row">
      <partial name="_PasswordExpirationWarning" />
      @RenderBody()
    </div>
  </main>

  <partial name="_Footer.cshtml" />

  <partial name="_SessionExpiration"/>

  <script src="~/dist/gds.site.js" nonce="owned-assets" asp-append-version="true"></script>

  @if (backLinkVisible)
  {
    <script src="~/dist/gds.back.js" nonce="owned-assets" asp-append-version="true"></script>
  }

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
