@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var page = ViewData["ActivePage"] as string;
    var isUserRegistrationEnabled = Configuration.GetValue<bool>("UserRegistrationEnabled");
}

<nav aria-label="Menu" class="govuk-header__navigation ">
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu">Menu</button>

    <ul id="navigation" class="govuk-header__navigation-list">
        @if (!User.Identity.IsAuthenticated
           || User.Identity.AuthenticationType == idunno.Authentication.Basic.BasicAuthenticationDefaults.AuthenticationScheme)
        {
            <li class="govuk-header__navigation-item @(page == "SignIn" ? "govuk-header__navigation-item--active" : string.Empty)">
                <a asp-action="SignIn" asp-controller="Account" asp-area="Authentication" class="govuk-header__link">
                    Sign In
                </a>
            </li>
        }
        else
        {
            <li class="govuk-header__navigation-item @(page == "Home" ? "govuk-header__navigation-item--active" : string.Empty)">
                <a asp-action="Index" asp-controller="Home" class="govuk-header__link">
                    Home
                </a>
            </li>
            <li class="govuk-header__navigation-item @(page == "Details" ? "govuk-header__navigation-item--active" : string.Empty)">
                <a asp-area="Authentication" asp-action="Details" asp-controller="Account" class="govuk-header__link">
                    Account details
                </a>
            </li>
            <li class="govuk-header__navigation-item">
                @using (Html.BeginForm("Logout", "Account", new { area = "Authentication"}))
                {
                    <button class="govuk-header__link sign-out" type="submit">Sign out</button>
                }
            </li>
        }
    </ul>
</nav>
