@{
    ViewData["Title"] = "Upload file success";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="info-box">
            <h1 class="info-box-header">Data submitted</h1>
            <p class="info-box-text">The system is checking your CSV file meets the required format.</p>
        </div>
        <h2 class="govuk-heading-l">
            What happens next
        </h2>
        <p class="govuk-body">
            We will send you an email with the outcome when the check has finished. This can take up to [number] minutes depending on the amount of data.
        </p>
    </div>
</div>

<style nonce="owned-assets">
    .info-box {
        background-color: #00703c;
        padding: 10px 20px 10px 20px;
        margin-bottom: 30px;
        text-align: center;
        color: 	white;
        
    }
   .info-box-header {
    font-size: 2.9rem;
    font-weight: 700;
   }
   .info-box-text{
    font-size: 2.4rem;
    font-weight: 400;
   }
</style>