@{
    ViewData["Title"] = "Upload file success";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation" data-test="submission-complete_panel">
            <h1 class="govuk-panel__title">
                Data submitted
            </h1>
                <div class="govuk-panel__body">
                    The system is checking your CSV file meets the required format.
                </div>
        </div>
        <h2 class="govuk-heading-l">
            What happens next
        </h2>
        <p class="govuk-body">
            We will send you an email with the outcome when the check has finished. This can take up to [number] minutes depending on the amount of data.
        </p>
    </div>
</div>