@{
    ViewData["Title"] = $"Reset your password";
}

<h1 class="govuk-heading-l">Reset Password</h1>
<p class="govuk-body">
    The link you used is expired or does not work.
</p>
<p class="govuk-body">
    <a asp-action="ForgottenPassword" class="govuk-link govuk-link--no-visited-state">Send a new password reset email</a>
</p>
