@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model DfT.ZEV.Core.Common.Authentication.ViewModels.ForgottenPasswordChangeViewModel
@{
    var passwordHint = Configuration.GetValue<string>("PasswordPolicyDescription");
    ViewData["Title"] = $"Reset your password";
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-l">Update you password</h1>
<p class="govuk-body">Please enter your new password below</p>

@using (Html.BeginForm())
{
    Html.HiddenFor(model => model.Token);

    <govuk-input asp-for="@Model.Password" type="password" data-test="register-password">
        <govuk-input-label>Create new password</govuk-input-label>
        <govuk-input-hint>@passwordHint</govuk-input-hint>
    </govuk-input>

    <govuk-input asp-for="@Model.PasswordConfirmation" type="password" data-test="register-password-confirmation">
        <govuk-input-label>Confirm new password</govuk-input-label>
    </govuk-input>

    <govuk-button type="submit" data-test="register-update-password">Update password</govuk-button>
}
