@using Microsoft.Extensions.Configuration
@model DfT.ZEV.Core.Common.Authentication.ViewModels.RequestPasswordChangeViewModel
@{
    ViewData["Title"] = $"Reset your password";
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-l">Reset your password</h1>

@using (Html.BeginForm())
{
    <govuk-input asp-for="@Model.Email" inputmode="email" data-test="password-reset-email">
        <govuk-input-label>Email address</govuk-input-label>
        <govuk-input-hint>We'll send you a reset link to the address you provide</govuk-input-hint>
    </govuk-input>

    <govuk-button type="submit" data-test="password-reset-submit">Send email</govuk-button>
}
