@if (!ViewData.ModelState.IsValid)
{
    <govuk-error-summary>
        @foreach (var modelStateKey in ViewData.ModelState.Keys) {
            var value = ViewData.ModelState[modelStateKey];
            foreach (var error in value.Errors)
            {
                <govuk-error-summary-item for="@modelStateKey">
                    <a href="#@modelStateKey">@Html.Encode(error.ErrorMessage)</a>
                </govuk-error-summary-item>
            }
        }
    </govuk-error-summary>
}