@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
  var phaseBannerContent = Configuration.GetSection("PhaseBannerContent").Value;
}

<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      @Configuration.GetSection("Phase").Value
    </strong>
    <span class="govuk-phase-banner__text">
      @Html.Raw(phaseBannerContent)
    </span>
  </p>
</div>