@model string
@{
    ViewData["Title"] = $"Reset your password";
}

<h1 class="govuk-heading-l">Reset your password</h1>

<vc:notification-banner
    banner-type="Success"
    body="We've sent an email with password reset instructions to @Model">
</vc:notification-banner>
